@model IEnumerable<CST356_Week_4_Lab.Models.View.UserViewModel>

@{
    ViewBag.Title = "User List";
}

<div class="well"><h3>User List</h3></div>

@{
    if (Model.Count() > 2)
    {
        <div class="alert alert-info alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            There are more than 2 users.
        </div>
    }
}

<p>
    @Html.ActionLink("Create New", "Create", new { id = string.Empty },
        new { @class = "btn btn-link btn-lg" })
</p>
<table id="tbl_UsersTable" class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsInSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="clickable-row">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="information-cell">
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-link btn-xs" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-link btn-xs" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-link btn-xs" })|
                @Html.ActionLink("View pets", "List", "Pet", new { userId = item.Id }, new { @class = "btn btn-link btn-xs" })
            </td>
        </tr>
    }

</table>

<div id="information-display"></div>
<br />

<button type="button" id="btn_ShowTable" class="btn btn-default">Show Table</button>
<button type="button" id="btn_HideTable" class="btn btn-default">Hide Table</button>

@section scripts {
    <script>
        $(document).ready(function () {
            //alert("Hello");

            $("#btn_ShowTable").click(function () {
                //alert("Show table button clicked");
                $("#tbl_UsersTable").show(500);
            });
            $("#btn_HideTable").click(function () {
                //alert("Hide table button clicked");
                $("#tbl_UsersTable").hide(500);
            });
            $(".clickable-row").click(function () {
                var value = "Selected email: " + $(this).find('.information-cell').text().trim();
                //alert(value);

                $("#information-display").text(value);
            });
        });
    </script>
}
